:host {
  display: flex;
  justify-content: center;
}
  
.container {
  max-width: 400px;
  flex: 1;
  padding: 3em;
}

.mat-title {
  margin-bottom: 1.5em;
}

.button-container {
  margin-top: 2em;
}